/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

/* .editor-container {
    width: 50%;
}

.text-container {
    width: 50%;
} */
